
    body {
        background-color: #f0ecee;
   }

   .container {
        display: flex;
        flex-direction: column;
    }

    h1 {
        font-family: 'Fira Sans', sans-serif;
        font-size: 36px;
        padding-left: 40px;
     } 
 
    .nav li {
        display: block;
        /* padding: 10px; */
    }
    
    .nav a {
        color: #88898b;
        font-family: 'Fira Sans', sans-serif;
        font-size: 18px;
        text-decoration: none;
        padding: 0 10px;
    }

    .nav a:hover {
        color: #fff;
        background-color:#FF4850;
        font-family: 'Fira Sans', sans-serif;
        font-size: 18px;
        text-decoration: none;
        list-style-type: none;
        text-align: center;
        padding: 0 10px;
        border-radius: 5px;
        transition-duration: 200ms;   
    }
    

    .nav li a.contact {
        color: #fff;
        background-color: #FF4850;
        font-family: 'Fira Sans', sans-serif;
        font-size: 18px;
        list-style: none;
        justify-content: center;
        padding: 10px;
        border-radius: 5px;
        margin: 10px 0;
        width: 90%;
        display: flex;
    }
    .contact ul { 
        flex: row; 
        list-style: none;
       
    }

    .contact a {
        color: #fff;
        text-decoration: none;
        text-align: center;
    }

    .find {
        color: #fff;
        background-color: #FF4850;
        font-family: 'Fira Sans', sans-serif;
        font-size: 24px;
        text-align: center;
        margin: 0 40px;
        padding: 20px;
        border-radius: 5px;        
    }
    
    .doYou {
        font-family: 'Fira Sans', sans-serif;
        font-size: 48px;
        font-weight: bold;
        margin-left: 40px;
        margin-right: 20px;
        margin-bottom: 1.5rem;
    }

    .we {
        color: #88898b;
        font-family: 'Fira Sans', sans-serif;
        font-size: 24px;
        margin-left: 40px;
        margin-right: 50px;
        padding: 5px 10px;
    }
    /* code for desktop display */
@media only screen and (min-width: 768px){

body{
    background-color: #f0ecee;
    background-image: url("images/bulldog-2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom right;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 36px;
    padding-left: 40px;
    margin-top: 40px;
    margin-right: 50px;
} 

.nav {
    flex-direction: row;
    float: right;
    padding: 20px; 
    margin-right: 20px;
    margin-top: 10px;
}

.nav ul { 
    display: flex;
    flex: row; 
    list-style: none;
    align-items: center;  
}

.nav a {
    color: #88898b;
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    text-decoration: none;
    padding: 10px;
}

.nav a:hover {
    color: #fff;
    background-color:#FF4850;
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    transition-duration: 200ms;   
}

.contact a {
    color: #88898b;
    text-decoration: none;
    text-align: center;
}

.contact a:hover {
    color: #fff;
    background-color:#FF4850;
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    padding: 10px 10px;
    border-radius: 5px;
    transition-duration: 200ms;   
}


.doYou {
    font-family: 'Fira Sans', sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-left: 40px;
    flex-direction: row;
    line-height: 50px;
}

.doWe {
    margin-top: 150px;
}

.we {
    color: #88898b;
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
    margin-left: 30px;
    padding: 5px 10px;  
    width: 50%;
}


.find {
    color: #fff;
    background-color: #FF4850;
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    text-align: center;
    width:250px;
    padding: 10px 10px;
    border-radius: 5px;
    margin-left: 40px;
} 

}